In [16]:
##import data and libraries

In [17]:
import numpy as np
import pandas as pd
from math import sqrt
from datetime import datetime
from sklearn.metrics import mean_squared_error
import warnings
import matplotlib.pyplot as plt
from statsmodels.tsa.holtwinters import ExponentialSmoothing

df = pd.read_csv("municipality_bus_utilization.csv")
df

                 timestamp  municipality_id  usage  total_capacity
0      2017-06-04 07:59:42                9    454            1332
1      2017-06-04 07:59:42                8    556            2947
2      2017-06-04 07:59:42                4   1090            3893
3      2017-06-04 07:59:42                0    204            2813
4      2017-06-04 07:59:42                7    718            2019
...                    ...              ...    ...             ...
13065  2017-08-19 16:30:35                2    548             697
13066  2017-08-19 16:30:35                8   1193            2947
13067  2017-08-19 16:30:35                7   1354            2019
13068  2017-08-19 16:30:35                6   1680            3113
13069  2017-08-19 16:30:35                3   1189            1930

[13070 rows x 4 columns]

## Creating necessary dataframe

In [18]:
# convert the timestamp column to datetime
df['timestamp'] = pd.to_datetime(df['timestamp'])

# extract hour from the timestamp column to create an time_hour column
hour = df['hour'] = df['timestamp'].dt.hour
#minute = df['minute'] = df['timestamp'].dt.minute
time = df['time'] = df['timestamp'].dt.date

print(df['timestamp'])

0       2017-06-04 07:59:42
1       2017-06-04 07:59:42
2       2017-06-04 07:59:42
3       2017-06-04 07:59:42
4       2017-06-04 07:59:42
                ...
13065   2017-08-19 16:30:35
13066   2017-08-19 16:30:35
13067   2017-08-19 16:30:35
13068   2017-08-19 16:30:35
13069   2017-08-19 16:30:35
Name: timestamp, Length: 13070, dtype: datetime64[ns]

## all data and columns 1(municipaly_id)

In [19]:
municipaly_id = df.iloc[:,1:2].values
municipaly_id = pd.DataFrame(data=municipaly_id, columns = ['municipaly_id'])

print(municipaly_id)

       municipaly_id
0                  9
1                  8
2                  4
3                  0
4                  7
...              ...
13065              2
13066              8
13067              7
13068              6
13069              3

[13070 rows x 1 columns]

## to complete the missing values

In [20]:
others = df.iloc[:,2:4].values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
impdata = others[:,:]
imputer = imputer.fit(impdata[:,:])
impdata[:,:] = imputer.transform(impdata[:,:])
finalothers = impdata[:,:]

finalothers = pd.DataFrame(data=finalothers, columns = ['usage', 'total_capacity'])
print("final others :")
print(finalothers)

data = pd.concat([df['timestamp'], municipaly_id], axis=1)
print("with timestap :")
print(data)
##Concatenating 
data = pd.concat([data, finalothers], axis=1)
print("Concatenating data:")
print(data)
## create train and test data
traindata = data.iloc[:10390,:]
testdata = data.iloc[10390:,:]
#sort data
traindata = traindata.sort_values(["municipaly_id","timestamp"], ascending = (True,True))
testdata = testdata.sort_values(["municipaly_id","timestamp"], ascending = (True,True))
print("train data :")
print(traindata)

final others :
       usage  total_capacity
0        454            1332
1        556            2947
2       1090            3893
3        204            2813
4        718            2019
...      ...             ...
13065    548             697
13066   1193            2947
13067   1354            2019
13068   1680            3113
13069   1189            1930

[13070 rows x 2 columns]
with timestap :
                timestamp  municipaly_id
0     2017-06-04 07:59:42              9
1     2017-06-04 07:59:42              8
2     2017-06-04 07:59:42              4
3     2017-06-04 07:59:42              0
4     2017-06-04 07:59:42              7
...                   ...            ...
13065 2017-08-19 16:30:35              2
13066 2017-08-19 16:30:35              8
13067 2017-08-19 16:30:35              7
13068 2017-08-19 16:30:35              6
13069 2017-08-19 16:30:35              3

[13070 rows x 2 columns]
Concatenating data:
                timestamp  municipaly_id  usage  total_capacity
0     2017-06-04 07:59:42              9    454            1332
1     2017-06-04 07:59:42              8    556            2947
2     2017-06-04 07:59:42              4   1090            3893
3     2017-06-04 07:59:42              0    204            2813
4     2017-06-04 07:59:42              7    718            2019
...                   ...            ...    ...             ...
13065 2017-08-19 16:30:35              2    548             697
13066 2017-08-19 16:30:35              8   1193            2947
13067 2017-08-19 16:30:35              7   1354            2019
13068 2017-08-19 16:30:35              6   1680            3113
13069 2017-08-19 16:30:35              3   1189            1930

[13070 rows x 4 columns]
train data :
                timestamp  municipaly_id  usage  total_capacity
3     2017-06-04 07:59:42              0    204            2813
18    2017-06-04 08:25:42              0    247            2813
29    2017-06-04 08:59:42              0    332            2813
34    2017-06-04 09:32:46              0    429            2813
47    2017-06-04 09:59:48              0    485            2813
...                   ...            ...    ...             ...
10346 2017-08-02 14:25:50              9    803            1332
10359 2017-08-02 14:58:50              9    763            1332
10364 2017-08-02 15:31:52              9    730            1332
10373 2017-08-02 15:58:52              9    671            1332
10381 2017-08-02 16:32:54              9    625            1332

[10390 rows x 4 columns]

In [21]:

traindata0 = traindata.iloc[:1039,:]
traindata1 = traindata.iloc[1039:2078,:]
traindata2 = traindata.iloc[2078:3117,:]
traindata3 = traindata.iloc[3117:4156,:]
traindata4 = traindata.iloc[4156:5195,:]
traindata5 = traindata.iloc[5195:6234,:]
traindata6 = traindata.iloc[6234:7273,:]
traindata7 = traindata.iloc[7273:8312,:]
traindata8 = traindata.iloc[8312:9351,:]
traindata9 = traindata.iloc[9351:,:]

print(traindata0)

print(traindata1)

print(traindata2)

print(traindata3)

print(traindata4)

print(traindata5)

print(traindata6)

print(traindata7)

print(traindata8)

print(traindata9)


print(testdata)

                timestamp  municipaly_id  usage  total_capacity
3     2017-06-04 07:59:42              0    204            2813
18    2017-06-04 08:25:42              0    247            2813
29    2017-06-04 08:59:42              0    332            2813
34    2017-06-04 09:32:46              0    429            2813
47    2017-06-04 09:59:48              0    485            2813
...                   ...            ...    ...             ...
10342 2017-08-02 14:25:50              0    656            2813
10355 2017-08-02 14:58:50              0    646            2813
10361 2017-08-02 15:31:52              0    635            2813
10370 2017-08-02 15:58:52              0    616            2813
10385 2017-08-02 16:32:54              0    638            2813

[1039 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
7     2017-06-04 07:59:42              1    129             397
19    2017-06-04 08:25:42              1    138             397
24    2017-06-04 08:59:42              1    164             397
36    2017-06-04 09:32:46              1    213             397
46    2017-06-04 09:59:48              1    245             397
...                   ...            ...    ...             ...
10341 2017-08-02 14:25:50              1    406             397
10354 2017-08-02 14:58:50              1    397             397
10362 2017-08-02 15:31:52              1    391             397
10375 2017-08-02 15:58:52              1    374             397
10386 2017-08-02 16:32:54              1    358             397

[1039 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
6     2017-06-04 07:59:42              2    273             697
10    2017-06-04 08:25:42              2    311             697
23    2017-06-04 08:59:42              2    355             697
37    2017-06-04 09:32:46              2    423             697
41    2017-06-04 09:59:48              2    494             697
...                   ...            ...    ...             ...
10347 2017-08-02 14:25:50              2    653             697
10351 2017-08-02 14:58:50              2    635             697
10363 2017-08-02 15:31:52              2    593             697
10378 2017-08-02 15:58:52              2    569             697
10388 2017-08-02 16:32:54              2    553             697

[1039 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
9     2017-06-04 07:59:42              3    623            1930
17    2017-06-04 08:25:42              3    770            1930
22    2017-06-04 08:59:42              3    967            1930
39    2017-06-04 09:32:46              3   1130            1930
45    2017-06-04 09:59:48              3   1263            1930
...                   ...            ...    ...             ...
10345 2017-08-02 14:25:50              3   1342            1930
10352 2017-08-02 14:58:50              3   1278            1930
10360 2017-08-02 15:31:52              3   1185            1930
10377 2017-08-02 15:58:52              3   1096            1930
10382 2017-08-02 16:32:54              3    952            1930

[1039 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
2     2017-06-04 07:59:42              4   1090            3893
14    2017-06-04 08:25:42              4   1476            3893
26    2017-06-04 08:59:42              4   2016            3893
33    2017-06-04 09:32:46              4   2511            3893
43    2017-06-04 09:59:48              4   2811            3893
...                   ...            ...    ...             ...
10348 2017-08-02 14:25:50              4   2959            3893
10350 2017-08-02 14:58:50              4   2841            3893
10366 2017-08-02 15:31:52              4   2641            3893
10379 2017-08-02 15:58:52              4   2438            3893
10387 2017-08-02 16:32:54              4   2152            3893

[1039 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
5     2017-06-04 07:59:42              5     70             587
16    2017-06-04 08:25:42              5     73             587
20    2017-06-04 08:59:42              5     89             587
35    2017-06-04 09:32:46              5    116             587
40    2017-06-04 09:59:48              5    159             587
...                   ...            ...    ...             ...
10340 2017-08-02 14:25:50              5    195             587
10358 2017-08-02 14:58:50              5    184             587
10369 2017-08-02 15:31:52              5    158             587
10376 2017-08-02 15:58:52              5    140             587
10383 2017-08-02 16:32:54              5    114             587

[1039 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
8     2017-06-04 07:59:42              6    597            3113
12    2017-06-04 08:25:42              6    687            3113
28    2017-06-04 08:59:42              6    801            3113
32    2017-06-04 09:32:46              6    941            3113
49    2017-06-04 09:59:48              6   1061            3113
...                   ...            ...    ...             ...
10344 2017-08-02 14:25:50              6   1144            3113
10357 2017-08-02 14:58:50              6   1118            3113
10367 2017-08-02 15:31:52              6   1059            3113
10374 2017-08-02 15:58:52              6   1008            3113
10384 2017-08-02 16:32:54              6   1018            3113

[1039 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
4     2017-06-04 07:59:42              7    718            2019
13    2017-06-04 08:25:42              7    789            2019
27    2017-06-04 08:59:42              7    873            2019
38    2017-06-04 09:32:46              7   1013            2019
44    2017-06-04 09:59:48              7   1151            2019
...                   ...            ...    ...             ...
10349 2017-08-02 14:25:50              7   1447            2019
10356 2017-08-02 14:58:50              7   1389            2019
10365 2017-08-02 15:31:52              7   1314            2019
10371 2017-08-02 15:58:52              7   1231            2019
10380 2017-08-02 16:32:54              7   1169            2019

[1039 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
1     2017-06-04 07:59:42              8    556            2947
15    2017-06-04 08:25:42              8    674            2947
25    2017-06-04 08:59:42              8    857            2947
30    2017-06-04 09:32:46              8   1045            2947
42    2017-06-04 09:59:48              8   1172            2947
...                   ...            ...    ...             ...
10343 2017-08-02 14:25:50              8   1247            2947
10353 2017-08-02 14:58:50              8   1213            2947
10368 2017-08-02 15:31:52              8   1172            2947
10372 2017-08-02 15:58:52              8   1108            2947
10389 2017-08-02 16:32:54              8   1035            2947

[1039 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
0     2017-06-04 07:59:42              9    454            1332
11    2017-06-04 08:25:42              9    487            1332
21    2017-06-04 08:59:42              9    527            1332
31    2017-06-04 09:32:46              9    599            1332
48    2017-06-04 09:59:48              9    666            1332
...                   ...            ...    ...             ...
10346 2017-08-02 14:25:50              9    803            1332
10359 2017-08-02 14:58:50              9    763            1332
10364 2017-08-02 15:31:52              9    730            1332
10373 2017-08-02 15:58:52              9    671            1332
10381 2017-08-02 16:32:54              9    625            1332

[1039 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
10398 2017-08-05 08:02:03              0    209            2813
10407 2017-08-05 08:29:08              0    252            2813
10416 2017-08-05 09:02:08              0    322            2813
10425 2017-08-05 09:29:08              0    393            2813
10434 2017-08-05 10:03:04              0    460            2813
...                   ...            ...    ...             ...
13021 2017-08-19 14:30:33              9    983            1332
13035 2017-08-19 15:03:34              9    976            1332
13040 2017-08-19 15:29:33              9    954            1332
13054 2017-08-19 16:03:35              9    879            1332
13063 2017-08-19 16:30:35              9    815            1332

[2680 rows x 4 columns]

In [22]:

testdata0 = testdata.iloc[:268,:]
testdata1 = testdata.iloc[268:536,:]
testdata2 = testdata.iloc[536:804,:]
testdata3 = testdata.iloc[804:1072,:]
testdata4 = testdata.iloc[1072:1340,:]
testdata5 = testdata.iloc[1340:1608,:]
testdata6 = testdata.iloc[1608:1876,:]
testdata7 = testdata.iloc[1876:2144,:]
testdata8 = testdata.iloc[2144:2412,:]
testdata9 = testdata.iloc[2412:,:]

print(testdata0)

print(testdata1)

print(testdata2)

print(testdata3)

print(testdata4)

print(testdata5)

print(testdata6)

print(testdata7)

print(testdata8)

print(testdata9)

                timestamp  municipaly_id  usage  total_capacity
10398 2017-08-05 08:02:03              0    209            2813
10407 2017-08-05 08:29:08              0    252            2813
10416 2017-08-05 09:02:08              0    322            2813
10425 2017-08-05 09:29:08              0    393            2813
10434 2017-08-05 10:03:04              0    460            2813
...                   ...            ...    ...             ...
13024 2017-08-19 14:30:33              0   1285            2813
13031 2017-08-19 15:03:34              0   1283            2813
13041 2017-08-19 15:29:33              0   1286            2813
13059 2017-08-19 16:03:35              0   1276            2813
13062 2017-08-19 16:30:35              0   1271            2813

[268 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
10390 2017-08-05 08:02:03              1    141             397
10400 2017-08-05 08:29:08              1    158             397
10410 2017-08-05 09:02:08              1    182             397
10421 2017-08-05 09:29:08              1    216             397
10435 2017-08-05 10:03:04              1    258             397
...                   ...            ...    ...             ...
13026 2017-08-19 14:30:33              1    410             397
13037 2017-08-19 15:03:34              1    408             397
13048 2017-08-19 15:29:33              1    411             397
13053 2017-08-19 16:03:35              1    401             397
13061 2017-08-19 16:30:35              1    396             397

[268 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
10395 2017-08-05 08:02:03              2    286             697
10401 2017-08-05 08:29:08              2    327             697
10415 2017-08-05 09:02:08              2    369             697
10420 2017-08-05 09:29:08              2    405             697
10431 2017-08-05 10:03:04              2    463             697
...                   ...            ...    ...             ...
13025 2017-08-19 14:30:33              2    677             697
13030 2017-08-19 15:03:34              2    651             697
13049 2017-08-19 15:29:33              2    617             697
13056 2017-08-19 16:03:35              2    580             697
13065 2017-08-19 16:30:35              2    548             697

[268 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
10396 2017-08-05 08:02:03              3    610            1930
10402 2017-08-05 08:29:08              3    781            1930
10412 2017-08-05 09:02:08              3    985            1930
10428 2017-08-05 09:29:08              3   1121            1930
10432 2017-08-05 10:03:04              3   1230            1930
...                   ...            ...    ...             ...
13020 2017-08-19 14:30:33              3   1526            1930
13038 2017-08-19 15:03:34              3   1496            1930
13043 2017-08-19 15:29:33              3   1441            1930
13057 2017-08-19 16:03:35              3   1330            1930
13069 2017-08-19 16:30:35              3   1189            1930

[268 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
10393 2017-08-05 08:02:03              4   1782            3893
10404 2017-08-05 08:29:08              4   2132            3893
10413 2017-08-05 09:02:08              4   2558            3893
10423 2017-08-05 09:29:08              4   2814            3893
10438 2017-08-05 10:03:04              4   3011            3893
...                   ...            ...    ...             ...
13023 2017-08-19 14:30:33              4   3176            3893
13036 2017-08-19 15:03:34              4   3111            3893
13044 2017-08-19 15:29:33              4   2980            3893
13050 2017-08-19 16:03:35              4   2779            3893
13060 2017-08-19 16:30:35              4   2542            3893

[268 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
10399 2017-08-05 08:02:03              5     20             587
10405 2017-08-05 08:29:08              5     23             587
10419 2017-08-05 09:02:08              5     35             587
10422 2017-08-05 09:29:08              5     48             587
10436 2017-08-05 10:03:04              5     72             587
...                   ...            ...    ...             ...
13029 2017-08-19 14:30:33              5    318             587
13034 2017-08-19 15:03:34              5    309             587
13045 2017-08-19 15:29:33              5    283             587
13052 2017-08-19 16:03:35              5    239             587
13064 2017-08-19 16:30:35              5    202             587

[268 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
10391 2017-08-05 08:02:03              6    494            3113
10403 2017-08-05 08:29:08              6    571            3113
10417 2017-08-05 09:02:08              6    666            3113
10424 2017-08-05 09:29:08              6    755            3113
10437 2017-08-05 10:03:04              6    857            3113
...                   ...            ...    ...             ...
13022 2017-08-19 14:30:33              6   1849            3113
13039 2017-08-19 15:03:34              6   1829            3113
13047 2017-08-19 15:29:33              6   1790            3113
13051 2017-08-19 16:03:35              6   1727            3113
13068 2017-08-19 16:30:35              6   1680            3113

[268 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
10392 2017-08-05 08:02:03              7    581            2019
10408 2017-08-05 08:29:08              7    651            2019
10411 2017-08-05 09:02:08              7    729            2019
10427 2017-08-05 09:29:08              7    820            2019
10430 2017-08-05 10:03:04              7    956            2019
...                   ...            ...    ...             ...
13028 2017-08-19 14:30:33              7   1651            2019
13033 2017-08-19 15:03:34              7   1618            2019
13042 2017-08-19 15:29:33              7   1562            2019
13055 2017-08-19 16:03:35              7   1450            2019
13067 2017-08-19 16:30:35              7   1354            2019

[268 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
10394 2017-08-05 08:02:03              8    453            2947
10409 2017-08-05 08:29:08              8    572            2947
10414 2017-08-05 09:02:08              8    722            2947
10429 2017-08-05 09:29:08              8    847            2947
10439 2017-08-05 10:03:04              8    980            2947
...                   ...            ...    ...             ...
13027 2017-08-19 14:30:33              8   1341            2947
13032 2017-08-19 15:03:34              8   1336            2947
13046 2017-08-19 15:29:33              8   1315            2947
13058 2017-08-19 16:03:35              8   1253            2947
13066 2017-08-19 16:30:35              8   1193            2947

[268 rows x 4 columns]
                timestamp  municipaly_id  usage  total_capacity
10397 2017-08-05 08:02:03              9    304            1332
10406 2017-08-05 08:29:08              9    333            1332
10418 2017-08-05 09:02:08              9    369            1332
10426 2017-08-05 09:29:08              9    424            1332
10433 2017-08-05 10:03:04              9    502            1332
...                   ...            ...    ...             ...
13021 2017-08-19 14:30:33              9    983            1332
13035 2017-08-19 15:03:34              9    976            1332
13040 2017-08-19 15:29:33              9    954            1332
13054 2017-08-19 16:03:35              9    879            1332
13063 2017-08-19 16:30:35              9    815            1332

[268 rows x 4 columns]

####

In [23]:
finaldata = traindata.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

finaldata0 = traindata0.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tsdata0 = traindata0.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tsdata0)

finaldata1 = traindata1.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tsdata1 = traindata1.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tsdata1)

finaldata2 = traindata2.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tsdata2 = traindata2.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tsdata2)

finaldata3 = traindata3.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tsdata3 = traindata3.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tsdata3)

finaldata4 = traindata4.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tsdata4 = traindata4.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tsdata4)

finaldata5 = traindata5.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tsdata5 = traindata5.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tsdata5)

finaldata6 = traindata6.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tsdata6 = traindata6.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tsdata6)

finaldata7 = traindata7.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tsdata7 = traindata7.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tsdata7)

finaldata8 = traindata8.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tsdata8 = traindata8.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tsdata8)

finaldata9 = traindata9.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tsdata9 = traindata9.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tsdata9)

print(finaldata)

print(finaldata0)

print(finaldata1)

print(finaldata2)

print(finaldata3)

print(finaldata4)

print(finaldata5)

print(finaldata6)

print(finaldata7)

print(finaldata8)

print(finaldata9)

timestamp
2017-06-04 07:00:00    204.0
2017-06-04 08:00:00    332.0
2017-06-04 09:00:00    485.0
2017-06-04 10:00:00    583.0
2017-06-04 11:00:00    614.0
                       ...
2017-08-02 12:00:00    661.0
2017-08-02 13:00:00    667.0
2017-08-02 14:00:00    656.0
2017-08-02 15:00:00    635.0
2017-08-02 16:00:00    638.0
Freq: H, Name: usage, Length: 1426, dtype: float64
timestamp
2017-06-04 07:00:00    129.0
2017-06-04 08:00:00    164.0
2017-06-04 09:00:00    245.0
2017-06-04 10:00:00    317.0
2017-06-04 11:00:00    341.0
                       ...
2017-08-02 12:00:00    411.0
2017-08-02 13:00:00    411.0
2017-08-02 14:00:00    406.0
2017-08-02 15:00:00    391.0
2017-08-02 16:00:00    358.0
Freq: H, Name: usage, Length: 1426, dtype: float64
timestamp
2017-06-04 07:00:00    273.0
2017-06-04 08:00:00    355.0
2017-06-04 09:00:00    494.0
2017-06-04 10:00:00    582.0
2017-06-04 11:00:00    643.0
                       ...
2017-08-02 12:00:00    683.0
2017-08-02 13:00:00    694.0
2017-08-02 14:00:00    653.0
2017-08-02 15:00:00    593.0
2017-08-02 16:00:00    553.0
Freq: H, Name: usage, Length: 1426, dtype: float64
timestamp
2017-06-04 07:00:00     623.0
2017-06-04 08:00:00     967.0
2017-06-04 09:00:00    1263.0
2017-06-04 10:00:00    1396.0
2017-06-04 11:00:00    1456.0
                        ...
2017-08-02 12:00:00    1408.0
2017-08-02 13:00:00    1378.0
2017-08-02 14:00:00    1342.0
2017-08-02 15:00:00    1185.0
2017-08-02 16:00:00     952.0
Freq: H, Name: usage, Length: 1426, dtype: float64
timestamp
2017-06-04 07:00:00    1090.0
2017-06-04 08:00:00    2016.0
2017-06-04 09:00:00    2811.0
2017-06-04 10:00:00    3178.0
2017-06-04 11:00:00    3257.0
                        ...
2017-08-02 12:00:00    3052.0
2017-08-02 13:00:00    3018.0
2017-08-02 14:00:00    2959.0
2017-08-02 15:00:00    2641.0
2017-08-02 16:00:00    2152.0
Freq: H, Name: usage, Length: 1426, dtype: float64
timestamp
2017-06-04 07:00:00     70.0
2017-06-04 08:00:00     89.0
2017-06-04 09:00:00    159.0
2017-06-04 10:00:00    228.0
2017-06-04 11:00:00    268.0
                       ...
2017-08-02 12:00:00    209.0
2017-08-02 13:00:00    212.0
2017-08-02 14:00:00    195.0
2017-08-02 15:00:00    158.0
2017-08-02 16:00:00    114.0
Freq: H, Name: usage, Length: 1426, dtype: float64
timestamp
2017-06-04 07:00:00     597.0
2017-06-04 08:00:00     801.0
2017-06-04 09:00:00    1061.0
2017-06-04 10:00:00    1219.0
2017-06-04 11:00:00    1297.0
                        ...
2017-08-02 12:00:00    1167.0
2017-08-02 13:00:00    1182.0
2017-08-02 14:00:00    1144.0
2017-08-02 15:00:00    1059.0
2017-08-02 16:00:00    1018.0
Freq: H, Name: usage, Length: 1426, dtype: float64
timestamp
2017-06-04 07:00:00     718.0
2017-06-04 08:00:00     873.0
2017-06-04 09:00:00    1151.0
2017-06-04 10:00:00    1373.0
2017-06-04 11:00:00    1479.0
                        ...
2017-08-02 12:00:00    1493.0
2017-08-02 13:00:00    1509.0
2017-08-02 14:00:00    1447.0
2017-08-02 15:00:00    1314.0
2017-08-02 16:00:00    1169.0
Freq: H, Name: usage, Length: 1426, dtype: float64
timestamp
2017-06-04 07:00:00     556.0
2017-06-04 08:00:00     857.0
2017-06-04 09:00:00    1172.0
2017-06-04 10:00:00    1363.0
2017-06-04 11:00:00    1399.0
                        ...
2017-08-02 12:00:00    1268.0
2017-08-02 13:00:00    1288.0
2017-08-02 14:00:00    1247.0
2017-08-02 15:00:00    1172.0
2017-08-02 16:00:00    1035.0
Freq: H, Name: usage, Length: 1426, dtype: float64
timestamp
2017-06-04 07:00:00    454.0
2017-06-04 08:00:00    527.0
2017-06-04 09:00:00    666.0
2017-06-04 10:00:00    800.0
2017-06-04 11:00:00    845.0
                       ...
2017-08-02 12:00:00    819.0
2017-08-02 13:00:00    824.0
2017-08-02 14:00:00    803.0
2017-08-02 15:00:00    730.0
2017-08-02 16:00:00    625.0
Freq: H, Name: usage, Length: 1426, dtype: float64
      municipaly_id  usage
0                 0    204
1                 1    129
2                 2    273
3                 3    623
4                 4   1090
...             ...    ...
5315              5    114
5316              6   1018
5317              7   1169
5318              8   1035
5319              9    625

[5320 rows x 2 columns]
     municipaly_id  usage
0                0    204
1                0    332
2                0    485
3                0    583
4                0    614
..             ...    ...
527              0    661
528              0    667
529              0    656
530              0    635
531              0    638

[532 rows x 2 columns]
     municipaly_id  usage
0                1    129
1                1    164
2                1    245
3                1    317
4                1    341
..             ...    ...
527              1    411
528              1    411
529              1    406
530              1    391
531              1    358

[532 rows x 2 columns]
     municipaly_id  usage
0                2    273
1                2    355
2                2    494
3                2    582
4                2    643
..             ...    ...
527              2    683
528              2    694
529              2    653
530              2    593
531              2    553

[532 rows x 2 columns]
     municipaly_id  usage
0                3    623
1                3    967
2                3   1263
3                3   1396
4                3   1456
..             ...    ...
527              3   1408
528              3   1378
529              3   1342
530              3   1185
531              3    952

[532 rows x 2 columns]
     municipaly_id  usage
0                4   1090
1                4   2016
2                4   2811
3                4   3178
4                4   3257
..             ...    ...
527              4   3052
528              4   3018
529              4   2959
530              4   2641
531              4   2152

[532 rows x 2 columns]
     municipaly_id  usage
0                5     70
1                5     89
2                5    159
3                5    228
4                5    268
..             ...    ...
527              5    209
528              5    212
529              5    195
530              5    158
531              5    114

[532 rows x 2 columns]
     municipaly_id  usage
0                6    597
1                6    801
2                6   1061
3                6   1219
4                6   1297
..             ...    ...
527              6   1167
528              6   1182
529              6   1144
530              6   1059
531              6   1018

[532 rows x 2 columns]
     municipaly_id  usage
0                7    718
1                7    873
2                7   1151
3                7   1373
4                7   1479
..             ...    ...
527              7   1493
528              7   1509
529              7   1447
530              7   1314
531              7   1169

[532 rows x 2 columns]
     municipaly_id  usage
0                8    556
1                8    857
2                8   1172
3                8   1363
4                8   1399
..             ...    ...
527              8   1268
528              8   1288
529              8   1247
530              8   1172
531              8   1035

[532 rows x 2 columns]
     municipaly_id  usage
0                9    454
1                9    527
2                9    666
3                9    800
4                9    845
..             ...    ...
527              9    819
528              9    824
529              9    803
530              9    730
531              9    625

[532 rows x 2 columns]

In [24]:

trydata = testdata.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

trydata0 = testdata0.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tstdata0 = testdata0.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(trydata0)

trydata1 = testdata1.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tstdata1 = testdata1.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tstdata1)

trydata2 = testdata2.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tstdata2 = testdata2.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tstdata2)

trydata3 = testdata3.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tstdata3 = testdata3.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tstdata3)

trydata4 = testdata4.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tstdata4 = testdata4.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tstdata4)

trydata5 = testdata5.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tstdata5 = testdata5.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tstdata5)

trydata6 = testdata6.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tstdata6 = testdata6.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tstdata6)

trydata7 = testdata7.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tstdata7 = testdata7.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tstdata7)

trydata8 = testdata8.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tstdata8 = testdata8.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tstdata8)

trydata9 = testdata9.groupby([pd.Grouper(key='timestamp', freq='H'), 'municipaly_id'], as_index=False)['usage'].max()

tstdata9 = testdata9.groupby([pd.Grouper(key='timestamp', freq='H')])['usage'].max()

print(tstdata9)

print(trydata)

print(trydata0)

print(trydata1)

print(trydata2)

print(trydata3)

print(trydata4)

print(trydata5)

print(trydata6)

print(trydata7)

print(trydata8)

print(trydata9)

     municipaly_id  usage
0                0    252
1                0    393
2                0    517
3                0    653
4                0    655
..             ...    ...
137              0   1281
138              0   1283
139              0   1285
140              0   1286
141              0   1276

[142 rows x 2 columns]
timestamp
2017-08-05 08:00:00    158.0
2017-08-05 09:00:00    216.0
2017-08-05 10:00:00    300.0
2017-08-05 11:00:00    397.0
2017-08-05 12:00:00    398.0
                       ...
2017-08-19 12:00:00    406.0
2017-08-19 13:00:00    408.0
2017-08-19 14:00:00    410.0
2017-08-19 15:00:00    411.0
2017-08-19 16:00:00    401.0
Freq: H, Name: usage, Length: 345, dtype: float64
timestamp
2017-08-05 08:00:00    327.0
2017-08-05 09:00:00    405.0
2017-08-05 10:00:00    483.0
2017-08-05 11:00:00    567.0
2017-08-05 12:00:00    584.0
                       ...
2017-08-19 12:00:00    663.0
2017-08-19 13:00:00    697.0
2017-08-19 14:00:00    687.0
2017-08-19 15:00:00    651.0
2017-08-19 16:00:00    580.0
Freq: H, Name: usage, Length: 345, dtype: float64
timestamp
2017-08-05 08:00:00     781.0
2017-08-05 09:00:00    1121.0
2017-08-05 10:00:00    1289.0
2017-08-05 11:00:00    1557.0
2017-08-05 12:00:00    1569.0
                        ...
2017-08-19 12:00:00    1484.0
2017-08-19 13:00:00    1519.0
2017-08-19 14:00:00    1530.0
2017-08-19 15:00:00    1496.0
2017-08-19 16:00:00    1330.0
Freq: H, Name: usage, Length: 345, dtype: float64
timestamp
2017-08-05 08:00:00    2132.0
2017-08-05 09:00:00    2814.0
2017-08-05 10:00:00    3123.0
2017-08-05 11:00:00    3447.0
2017-08-05 12:00:00    3461.0
                        ...
2017-08-19 12:00:00    3157.0
2017-08-19 13:00:00    3194.0
2017-08-19 14:00:00    3183.0
2017-08-19 15:00:00    3111.0
2017-08-19 16:00:00    2779.0
Freq: H, Name: usage, Length: 345, dtype: float64
timestamp
2017-08-05 08:00:00     23.0
2017-08-05 09:00:00     48.0
2017-08-05 10:00:00     96.0
2017-08-05 11:00:00    157.0
2017-08-05 12:00:00    170.0
                       ...
2017-08-19 12:00:00    258.0
2017-08-19 13:00:00    300.0
2017-08-19 14:00:00    318.0
2017-08-19 15:00:00    309.0
2017-08-19 16:00:00    239.0
Freq: H, Name: usage, Length: 345, dtype: float64
timestamp
2017-08-05 08:00:00     571.0
2017-08-05 09:00:00     755.0
2017-08-05 10:00:00     903.0
2017-08-05 11:00:00    1057.0
2017-08-05 12:00:00    1082.0
                        ...
2017-08-19 12:00:00    1787.0
2017-08-19 13:00:00    1845.0
2017-08-19 14:00:00    1853.0
2017-08-19 15:00:00    1829.0
2017-08-19 16:00:00    1727.0
Freq: H, Name: usage, Length: 345, dtype: float64
timestamp
2017-08-05 08:00:00     651.0
2017-08-05 09:00:00     820.0
2017-08-05 10:00:00    1038.0
2017-08-05 11:00:00    1319.0
2017-08-05 12:00:00    1374.0
                        ...
2017-08-19 12:00:00    1503.0
2017-08-19 13:00:00    1627.0
2017-08-19 14:00:00    1657.0
2017-08-19 15:00:00    1618.0
2017-08-19 16:00:00    1450.0
Freq: H, Name: usage, Length: 345, dtype: float64
timestamp
2017-08-05 08:00:00     572.0
2017-08-05 09:00:00     847.0
2017-08-05 10:00:00    1059.0
2017-08-05 11:00:00    1249.0
2017-08-05 12:00:00    1264.0
                        ...
2017-08-19 12:00:00    1251.0
2017-08-19 13:00:00    1315.0
2017-08-19 14:00:00    1341.0
2017-08-19 15:00:00    1336.0
2017-08-19 16:00:00    1253.0
Freq: H, Name: usage, Length: 345, dtype: float64
timestamp
2017-08-05 08:00:00    333.0
2017-08-05 09:00:00    424.0
2017-08-05 10:00:00    564.0
2017-08-05 11:00:00    761.0
2017-08-05 12:00:00    799.0
                       ...
2017-08-19 12:00:00    849.0
2017-08-19 13:00:00    941.0
2017-08-19 14:00:00    983.0
2017-08-19 15:00:00    976.0
2017-08-19 16:00:00    879.0
Freq: H, Name: usage, Length: 345, dtype: float64
      municipaly_id  usage
0                 0    252
1                 1    158
2                 2    327
3                 3    781
4                 4   2132
...             ...    ...
1415              5    239
1416              6   1727
1417              7   1450
1418              8   1253
1419              9    879

[1420 rows x 2 columns]
     municipaly_id  usage
0                0    252
1                0    393
2                0    517
3                0    653
4                0    655
..             ...    ...
137              0   1281
138              0   1283
139              0   1285
140              0   1286
141              0   1276

[142 rows x 2 columns]
     municipaly_id  usage
0                1    158
1                1    216
2                1    300
3                1    397
4                1    398
..             ...    ...
137              1    406
138              1    408
139              1    410
140              1    411
141              1    401

[142 rows x 2 columns]
     municipaly_id  usage
0                2    327
1                2    405
2                2    483
3                2    567
4                2    584
..             ...    ...
137              2    663
138              2    697
139              2    687
140              2    651
141              2    580

[142 rows x 2 columns]
     municipaly_id  usage
0                3    781
1                3   1121
2                3   1289
3                3   1557
4                3   1569
..             ...    ...
137              3   1484
138              3   1519
139              3   1530
140              3   1496
141              3   1330

[142 rows x 2 columns]
     municipaly_id  usage
0                4   2132
1                4   2814
2                4   3123
3                4   3447
4                4   3461
..             ...    ...
137              4   3157
138              4   3194
139              4   3183
140              4   3111
141              4   2779

[142 rows x 2 columns]
     municipaly_id  usage
0                5     23
1                5     48
2                5     96
3                5    157
4                5    170
..             ...    ...
137              5    258
138              5    300
139              5    318
140              5    309
141              5    239

[142 rows x 2 columns]
     municipaly_id  usage
0                6    571
1                6    755
2                6    903
3                6   1057
4                6   1082
..             ...    ...
137              6   1787
138              6   1845
139              6   1853
140              6   1829
141              6   1727

[142 rows x 2 columns]
     municipaly_id  usage
0                7    651
1                7    820
2                7   1038
3                7   1319
4                7   1374
..             ...    ...
137              7   1503
138              7   1627
139              7   1657
140              7   1618
141              7   1450

[142 rows x 2 columns]
     municipaly_id  usage
0                8    572
1                8    847
2                8   1059
3                8   1249
4                8   1264
..             ...    ...
137              8   1251
138              8   1315
139              8   1341
140              8   1336
141              8   1253

[142 rows x 2 columns]
     municipaly_id  usage
0                9    333
1                9    424
2                9    564
3                9    761
4                9    799
..             ...    ...
137              9    849
138              9    941
139              9    983
140              9    976
141              9    879

[142 rows x 2 columns]

## Forecasting

In [25]:
warnings.filterwarnings("ignore")

# Predict0
model0 = ExponentialSmoothing(finaldata0["usage"], trend=None, seasonal=None, seasonal_periods=None)
hw_model0 = model0.fit(optimized=True, use_boxcox=None, remove_bias=False)
pred0 = hw_model0.predict(start=trydata0["usage"].index[0], end=trydata0["usage"].index[-1])

pred0.index += len(finaldata0)

trydata0.index += len(finaldata0)

print(pred0)


# Predict1
model1 = ExponentialSmoothing(finaldata1["usage"], trend=None, seasonal=None, seasonal_periods=None)
hw_model1 = model1.fit(optimized=True, use_boxcox=None, remove_bias=False)
pred1 = hw_model1.predict(start=trydata1["usage"].index[0], end=trydata1["usage"].index[-1])

pred1.index += len(finaldata1)

trydata1.index += len(finaldata1)

print(pred1)


# Predict2
model2 = ExponentialSmoothing(finaldata2["usage"], trend=None, seasonal=None, seasonal_periods=None)
hw_model2 = model2.fit(optimized=True, use_boxcox=None, remove_bias=False)
pred2 = hw_model2.predict(start=trydata2["usage"].index[0], end=trydata2["usage"].index[-1])

pred2.index += len(finaldata2)

trydata2.index += len(finaldata2)

print(pred2)


# Predict3
model3 = ExponentialSmoothing(finaldata3["usage"], trend=None, seasonal=None, seasonal_periods=None)
hw_model3 = model3.fit(optimized=True, use_boxcox=None, remove_bias=False)
pred3 = hw_model3.predict(start=trydata3["usage"].index[0], end=trydata3["usage"].index[-1])

pred3.index += len(finaldata3)

trydata3.index += len(finaldata3)

print(pred3)


# Predict4
model4 = ExponentialSmoothing(finaldata4["usage"], trend=None, seasonal=None, seasonal_periods=None)
hw_model4 = model4.fit(optimized=True, use_boxcox=None, remove_bias=False)
pred4 = hw_model4.predict(start=trydata4["usage"].index[0], end=trydata4["usage"].index[-1])

pred4.index += len(finaldata4)

trydata4.index += len(finaldata4)

print(pred4)

# Predict5
model5 = ExponentialSmoothing(finaldata5["usage"], trend=None, seasonal=None, seasonal_periods=None)
hw_model5 = model5.fit(optimized=True, use_boxcox=None, remove_bias=False)
pred5 = hw_model5.predict(start=trydata5["usage"].index[0], end=trydata5["usage"].index[-1])

pred5.index += len(finaldata5)

trydata5.index += len(finaldata5)

print(pred5)

# Predict6
model6 = ExponentialSmoothing(finaldata6["usage"], trend=None, seasonal=None, seasonal_periods=None)
hw_model6 = model6.fit(optimized=True, use_boxcox=None, remove_bias=False)
pred6 = hw_model6.predict(start=trydata6["usage"].index[0], end=trydata6["usage"].index[-1])

pred6.index += len(finaldata6)

trydata6.index += len(finaldata6)

print(pred6)


model7 = ExponentialSmoothing(finaldata7["usage"], trend=None, seasonal=None, seasonal_periods=None)
hw_model7 = model7.fit(optimized=True, use_boxcox=None, remove_bias=False)
pred7 = hw_model7.predict(start=trydata7["usage"].index[0], end=trydata7["usage"].index[-1])

pred7.index += len(finaldata7)

trydata7.index += len(finaldata7)

print(pred7)

# Predict8
model8 = ExponentialSmoothing(finaldata8["usage"], trend=None, seasonal=None, seasonal_periods=None)
hw_model8 = model8.fit(optimized=True, use_boxcox=None, remove_bias=False)
pred8 = hw_model8.predict(start=trydata8["usage"].index[0], end=trydata8["usage"].index[-1])

pred8.index += len(finaldata8)

trydata8.index += len(finaldata8)

print(pred8)

# Predict9
model9 = ExponentialSmoothing(finaldata9["usage"], trend=None, seasonal=None, seasonal_periods=None)
hw_model9 = model9.fit(optimized=True, use_boxcox=None, remove_bias=False)
pred9 = hw_model9.predict(start=trydata9["usage"].index[0], end=trydata9["usage"].index[-1])

pred9.index += len(finaldata9)

trydata9.index += len(finaldata9)

print(pred9)

532    358.600000
533    204.773000
534    331.363865
535    484.231819
536    582.506159
          ...
669    696.949041
670    691.029745
671    679.060149
672    630.245301
673    548.411227
Length: 142, dtype: float64
532     73.931250
533    128.999999
534    163.999999
535    244.999999
536    316.999999
          ...
669    349.000000
670    341.000000
671    327.000000
672    266.000001
673    215.000001
Length: 142, dtype: float64
532    380.666667
533    273.538333
534    354.592692
535    493.302963
536    581.556515
          ...
669    624.899545
670    594.154498
671    563.155772
672    477.430779
673    399.392154
Length: 142, dtype: float64
532     963.733333
533     624.703667
534     965.288518
535    1261.511443
536    1395.327557
          ...
669    1417.999018
670    1381.184995
671    1338.215925
672    1173.826080
673     966.044130
Length: 142, dtype: float64
532    2021.800000
533    1094.659000
534    2011.393295
535    2807.001966
536    3176.145010
          ...
669    3139.924132
670    3052.439621
671    2957.477198
672    2444.577386
673    2038.042887
Length: 142, dtype: float64
532    125.866667
533     70.279333
534     88.906397
535    158.649532
536    227.653248
          ...
669    245.969919
670    209.184850
671    174.175924
672    133.205880
673     68.326029
Length: 142, dtype: float64
532     850.733333
533     598.268667
534     799.986343
535    1059.694932
536    1218.203475
          ...
669    1350.903764
670    1318.164519
671    1278.200823
672    1163.576004
673    1016.737880
Length: 142, dtype: float64
532     949.333333
533     719.156667
534     872.230783
535    1149.606154
536    1371.883031
          ...
669    1422.914264
670    1367.279571
671    1310.286398
672    1117.966432
673     919.994832
Length: 142, dtype: float64
532     893.800000
533     557.689000
534     855.503445
535    1170.417517
536    1362.037088
          ...
669    1417.984766
670    1372.229924
671    1328.221150
672    1114.076106
673     949.825381
Length: 142, dtype: float64
532    577.666667
533    454.618333
534    526.638092
535    665.303190
536    799.326516
          ...
669    814.994620
670    782.164973
671    756.130825
672    649.535654
673    529.602678
Length: 142, dtype: float64